.fl {
	float:left;
}
/* menutop */
.mgt {
	margin-left:35%;
}
.hvmenu:hover {
	opacity:.7;
}
.menutoptext {
	margin-left:5px;
	float:left;
	margin-top: 12px;
}
.logomn {
	font-size:2rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
/*color*/
.lg1 {
	color:#BDBDBD;
}
.lg2 {
	color:#039BE5;
}
.lg3 {
	background-color:#039BE5;
	color:#bdbdbd;
}
.lg4 {
	color:#0277BD;
}
.lg5 {
	color:#424242;
}
.lg6 {
	color:#757575;
}
.lg7 {
	color:#ffffff;
}
.lg8 {
	color:#EF6C00;
}
.bgw {
	background-color:#ffffff;
}
.bgr {
	background-color:#E53935;
}
.lgb {
	border:solid 1px #039BE5; 
}
.lgb:hover {
	background-color:#039BE5;
	border:solid 1px #039BE5;
	color:#ffffff;
}
/* slide */
.boxslide {
	height : 570px;
	display:block;
}
.picslide {
	width:100%;
	max-height: 570px !important;
}
.inner_position_top{
    position:absolute;
    display:block;
    height:50px; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ */
    width:100%; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
    top:120px; /* css กำหนดชิดด้านบน  */
    z-index:999;
	padding-top:15%;
}
/* on slide */
.textos {
	text-shadow: 2px 2px 4px #000000;
}
.shadow {
	box-shadow: 0 8px 6px -6px black;
}
.searchbt {
	padding-left:0px;
	padding-right:0px;
	padding-top:5px;
	padding-bottom:0px;
}
.slh {
	font-size:3rem;
	text-align:center;
}
.sip {
	border: none;
	margin-top: 15px;
}
.sll {
	height:60px;
	border-top-left-radius:50%;
	border-bottom-left-radius:50%;
	margin-left:85%;
}
.slr {
	height:60px;
	border-top-right-radius:50%;
	border-bottom-right-radius:50%;
}
/*shopshow*/
.sshbox {
	padding-top:250px;
	padding-bottom:50px;
	padding-left:75px;
	padding-right:75px;
}
.ssh {
	height:200px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: 0px -2px 10px -5px black;
	font-size:1.5rem;
}
/*shopinterview*/
.svtop {
	border-bottom:double 3px #0277BD;
}
.svbd {
	padding-bottom:6px;
	border-bottom:solid 1px #e0e0e0;
}
.svbb:hover {
	border:solid 1px #eeeeee;
	border-radius:7px;
}
.svadr {
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}
.boxfooter {
	margin-top: 1200px;
}