/* menutop */
.boxtop {
	padding:5px 200px;
}
.hvmenu:hover {
	opacity:.7;
}
.circlemenutop {
	background-color:#f5fb50;
	width: 40px;
	height:40px;
	padding-top:7px;
	padding-left:8px;
	float:left;
	margin-top:5px;
	margin-left:82%;
}
.menutoptext {
	margin-left:5px;
	float:left;
	margin-top: 12px;
}
/* slide */
.boxslide {
	height : 570px;
	display:block;
}
.picslide {
	width:100%;
	max-height: 570px !important;
}
.inner_position_top{
    position:absolute;
    display:block;
    height:50px; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ */
    width:100%; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
    top:61px; /* css กำหนดชิดด้านบน  */
    z-index:999;
	padding: 0px 300px;
	background-color:#ffggee;
	padding-top : 160px;
}
/* on slide */
.textos {
	color: #ffffff;
	text-shadow: 2px 2px 4px #000000;
}
.shadow {
	box-shadow: 0 8px 6px -6px black;
}
.searchbt {
	padding-left:0px;
	padding-right:0px;
	padding-top:5px;
	padding-bottom:0px;
}